* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
main {
    padding: 0px 1%;
  }
.section{
    display: flex;
}
.sidebar{
    background-color: rgb(215, 255, 255);
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}
ul{
    list-style: none;
}
.sidebar a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.sidebar ul li{
    display: block;
    padding: 10px;
}
li:hover {
    background-color: rgb(255, 108, 108);
}
.active{
    background-color: green;
}
.active a{
    color: white;
}
