*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.menu-bar{
    height: 80px;
    background-color: rgb(12, 12, 113);
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.logo img{
    height: 100px;
    margin-top: -20px;
}
.menu ul li{
    list-style: none;
    margin: 15px;
    display: inline-block;
}
.menu a{
    color: white;
    font-size: 20px;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px;
}
.menu{
    padding-top: 10px;
}
/*GALERY CODES*/
.galeri{
    background: url(./images/galeri.jpg);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h4{
    font-size: 30px;
    padding: 10px;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
.galeri .web{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-top: 30px;
}
.galeri a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}
.galeri a:hover{
    color: rgb(218, 202, 202);
    background-color: white;
    padding: 10px;
   
}


