@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Teko:wght@300;400&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    font-weight: 400;
    font-family: Open Sans, sans-serif;
}
main{
    width: 100%;
    height: 100vh;
}
header{
    width: 75%;
    margin: auto;
    padding: 1rem o.5rem;
}
a{
    text-decoration: none;
    color: gray;
}
.nav-leftside a{
    font-size:1.3rem ;
    margin-left: 0.5rem;
}
nav{
    padding:0.8rem 0.5rem;
    display: flex;
    justify-content: space-between;
}
.nav-rightside{
    display: flex;
    justify-content: space-between;
}
.nav-rightside ul{
    list-style: none;
    display: flex;
    margin-left: 0.5rem;
}
.nav-rightside ul li{
    margin-left: 0.8rem;
    font-size: 1rem;
    padding-top: 0.2rem;
}
.fa-circle-user,.account-icon{
    font-size: 1.2rem;
    color: gray;
}
.header-second-block{
    margin-top: 2rem;
    display: flex;
}
.header-second-block img{
    width: 22%;
    height: 5.5rem;
}
#search-bar{
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 35rem;
    height: 2.5rem;
}
.searchbar-button{
    margin-left: 5rem;
    padding-top: 2.5rem;
    position: relative;
}
label{
    font-size: 1.1rem;
    position: absolute;
    left: 0.7rem;
    margin-top: 0.7rem;
}
.search-button{
    width: 5rem;
    height: 2.5rem;
    margin-top: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 0.2rem;
    margin-left: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
}
.third-block{
    width: 75%;
    margin: auto;
    display: flex;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: rgb(238, 235, 235);
    margin-top: 1.5rem;
}
.aktionen,.filialen{
    margin-left: 1.3rem;
}
.sortiment{
    border-bottom: solid 2px red;
}
.third-block div:hover:not(.sortiment){
    border-bottom: solid 2px red;
}
.warenkorb{
    margin-left: auto;
}
