@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Teko:wght@300;400&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    font-weight: 400;
    font-family: Open Sans, sans-serif;
}
main{
    width: 100%;
    height: 100vh;
}
header{
    width: 75%;
    margin: auto;
    padding: 1rem o.5rem;
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: rgb(73, 71, 71);
}
.nav-leftside a{
    font-size:1.3rem ;
    margin-left: 0.5rem;
}
nav{
    padding:0.8rem 0.5rem;
    display: flex;
    justify-content: space-between;
}
.nav-rightside{
    display: flex;
    justify-content: space-between;
}
.nav-rightside ul{
    list-style: none;
    display: flex;
    margin-left: 0.5rem;
}
.nav-rightside ul li{
    margin-left: 0.8rem;
    font-size: 1rem;
    padding-top: 0.2rem;
}
.fa-circle-user,.account-icon{
    font-size: 1.2rem;
    color: gray;
}
.header-second-block{
    margin-top: 2rem;
    display: flex;
}
.header-second-block img{
    width: 22%;
    height: 5.5rem;
}
#search-bar{
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 35rem;
    height: 2.5rem;
}
.searchbar-button{
    margin-left: 5rem;
    padding-top: 2.5rem;
    position: relative;
}
label{
    font-size: 1.1rem;
    position: absolute;
    left: 0.7rem;
    margin-top: 0.7rem;
}
.search-button{
    width: 5rem;
    height: 2.5rem;
    margin-top: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 0.2rem;
    margin-left: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
}
.third-block{
    width: 75%;
    margin: auto;
    display: flex;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: rgb(238, 235, 235);
    margin-top: 1.5rem;
}
.aktionen,.filialen{
    margin-left: 1.3rem;
}
.sortiment{
    border-bottom: solid 2px red;
}
.third-block div:hover:not(.sortiment){
    border-bottom: solid 2px red;
}
.warenkorb{
    margin-left: auto;
}
/* *Sidebar */
.sidebar-content ,.main-layout{
    width: 75%;
    margin: auto;
    margin-top: 5%;
}
ul{
    list-style: none;
}
.sidebar-content {
    display: flex;
  }
  .sidebar-content .sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    height: 600px;
    background-color: #fff;
  }
  .sidebar__wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    padding: 0 0.7rem 0 0.3rem;
    border: 0.25rem solid #ececec;
    background-color: #fff;
  }
  .triangle::before,
  .triangle::after {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: "";
    left: 1rem;
    border-width: 0 1.3rem 0.8rem;
  }
  .triangle::before {
    top: -0.85rem;
    border-bottom-color: #ececec;
  }
  .triangle::after {
    top: -0.55rem;
    border-bottom-color: #fff;
  }
  .sidebar__container {
    flex: 0 0 100%;
    margin: 0.2rem;
  }
  .sidebar__container ul {
    padding-right: 1rem;
  }
  .sidebar__container ul li {
    border-bottom: 1px solid #ececec;
  }
  .sidebar__item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    color: var(--nav-text-color);
  }
  .sidebar__item .right-arrow {
    margin-left: 1.5rem;
  }
  .sidebar__item a:hover {
    color: #e20713;
  }
  /* *Main content */
  
  .sidebar-content .main__content {
    flex: 0 0 75%;
    max-width: 75%;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main__content__sub {
    margin-left: 10px;
    padding: 0;
  }
  .main__content .content__wrapper {
    display: flex;
    width: 100%;
    margin-right: -10px;
    margin-left: -10px;
  }
  .content__wrapper .content__container {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding-bottom: 3rem;
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 20px;
  }
  
  .content__container .content__logo {
    height: 4rem;
    padding: 0.75rem 1rem;
    font-weight: 600;
  }
  .content__wrapper .content__container:first-child .content__logo {
    display: flex;
    align-items: center;
  }
  .content__container .content__logo img {
    width: 80px;
    height: 40px;
  }
  .content__container .content__picture {
    width: 100%;
  }
  .content__container .content__picture img {
    width: 100%;
  }
  .content__container .content__text {
    padding: 0.75rem 1rem;
  }
  .content__container .content__text span {
    font-family: "Teko", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color: #343434;
    margin: 0%;
    padding: 0%;
  }
  .content__container .content__text .percentage {
    position: relative;
    font-size: 2.2rem;
    font-weight: 800;
    color: #e20713;
  }
  .content__container .content__text .percentage::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    background-color: #e20713;
    content: "";
  }
  
